.main img{
    width: 100%;
}

img{
    max-height: 322px;
}

.main-left{
    width: 75%;
}

.main-right{
    width: 25%;
}

.main-res h1{
    text-align:  center;
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.res-info{
    margin: 25px 15%;
}

.products{
    padding: 20px 15%;
    background-color: linen;
    width: 100%;
}

.products h3{
    margin-bottom: 15px;
}

.prod-card{
    background-color: white;
    margin-bottom: 20px;
    padding: 11px 30px;
    border-radius: 12px;
    border: 1px solid lightgray;
    display: flex;
}

.prod-card:hover{
    background-color: lightgray;
    cursor: pointer;
}

.prod-card button{
    margin-left: auto;
    height: 30px;
    width: 30px;
    margin-top: 30px;
    background-color: linen;
    border-radius: 50px;
    border: 1px solid lightgray;
}

.prod-card button:hover{
    background-color: white;
    cursor: pointer;
}

.res-cart{
    padding: 15px 25px;
    border-left: 1px solid lightgray;
    height: 100%;
}

.res-cart-info{
    padding: 5px 20px;
    border: 1px solid lightgray;
    border-radius: 12px;
}

.cart-products{
    margin-top: 20px;
}

.card-product{
    display: flex;
    border: 1px solid lightgray;
    padding: 10px 15px;
    border-radius: 12px;
}

.card-product:hover{
    background-color: linen;
    cursor: pointer;
}

.card-product p{
    margin-right: 20px;
}

.card-product button{
    border-radius: 50px;
    border: 1px solid black;
    background-color: white;
    margin-left: auto;
}

.card-product button:hover{
    background-color: linen;
    cursor: pointer;
}