.main-section{
    background-image: url('../images/079346127290_puzzle_1500__53393.jpg');
    height: 500px;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-top: 15px;
    padding: 11% 30%;
}

.main-section input{
    width: 65%;
    height: 60px;
    border-radius: 32px;
    border: 0;
    margin-right: 40px;
    padding: 15px 25px;
    font-size: 1.3rem;
}

.main-section a{
    background-color: white;
    font-size: 1.5rem;
    padding: 15px 30px;
    border-radius: 32px;
    text-decoration: none;
    color: black;
}

.info{
    text-align: center;
    margin-top: 20px;
}

.info h3{
    font-size: 1.5rem;
    font-weight: 100;
}

.info h2{
    font-size: 3rem;
    color: orange;
    font-weight: bold;
}

.info .cards{
    display: flex;
    margin-top: 20px;
    padding-left: 21%;
}

.card{
    width: 24%;
}

.card svg{
    font-size: 4rem;
    color: orange;
}

.card h4{
    font-size: 1.5rem;
}